body {
  width: 900px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.logo {
  margin-right: 40px;
}

.gnav {
  display: flex;
}

.nav-item {
  display: block;
  margin-right: 20px;
}

.main {
  margin: auto;
}

.section {
  margin-bottom: 100px;
}

.section .title {
  font-weight: normal;
  text-align: center;
}

.profile-box {
  display: flex;
  border: solid 1px #000;
  padding: 15px;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}

.profile-img {
  text-align: center;
  margin-bottom: 15px;
}

.profile-sns {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.sns {
  display: inline-block;
  width: 70px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.twitter {
  background-color: #1da1f2;
  margin-right: 15px;
}

.facebook {
  background-color: #4267b2;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work {
  width: 270px;
  height: 200px;
  color: white;
  margin: 0 0 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work:last-child {
  margin-right: 0;
}

.work-text {
  padding: 15px;
  text-align: center;
  display: block;
  width: 160px;
  background-color: #000;
  opacity: 0.6;
  text-decoration: none;
}

.work-title {
  font-size: 12px;
  padding: 0 5px 5px 5px;
  border-bottom: solid 1px #fff;
}

.design-work {
  background-color: lightgreen;
}

.coding-work {
  background-color: purple;
}

@media (max-width: 768px) {
  body {
    width: 700px;
    margin: auto;
  }

  /* Header */
  .header {
    margin-bottom: 50px;
  }
  .logo {
    margin: 21.5px auto;
  }
  .gnav {
    display: none;
    width: 0;
  }

  /* Profile */
  .profile-box {
    display: block;
    border: solid 1px #000;
    padding: 15px;
  }
  .left-section {
    margin-right: 0;
  }

  /* Works */
  .work-list {
    justify-content: flex-start;
    margin-left: -3%;
  }
  .work {
    height: 250px;
    width: 47%;
    margin: 0 0 15px 3%;
  }
}

@media (max-width: 420px) {
  body {
    width: 400px;
  }
  .work-list {
    margin-left: auto;
  }
  .work {
    height: 200px;
    width: 100%;
    margin: unset;
    margin-bottom: 15px;
  }
  .work:last-child {
    margin-bottom: 0;
  }
}
